
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    Page.Title = "checkout";
    var ngpattern = @"/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z/\d$@$!%*#?&]{8,20}$/";
}
<style>
    .m-input-icon__icon {
        position: absolute;
        z-index: 111111;
        right: 20px;
        top: 23px;
    }
        .m-input-icon__icon i{
            color:#000;
        }
        .showerror {
            padding: 10px 10px;
            background: #c10404;
            color: #fff;
            font-size: 16px;
        }

    .form-label,.section-title {
        color: #565555;
    }

    .radio-inline {
        color: #565555;
    }

    .showerror.in {
        display: block;
    }
    input.ng-invalid.ng-touched{
    border-color: #FA787E;
  }
    input.ng-valid.ng-touched {
    border-color: rgba(0, 201, 167, 0.1);
  }
    .invalid-feedback{
       display:block;
       margin-left:10px;
    }
    
</style>

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="checkout-page" ng-controller="CheckoutController">
    <div class="se-pre-con" ng-show="loader">

    </div>
    <!-- breadcrumb -->
    <div ng-cloak class="container" ng-if="!loader">
        <nav class="woocommerce-breadcrumb"><a href="@Url.Action("Index","Leasing")">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Checkout</nav>
        
    </div>
    <!-- End breadcrumb -->

    <div ng-cloak class="container" ng-if="!loader">
        <div class="mb-5">
            <h1 class="text-center" style="color:#333;">Lease Checkout</h1>
        </div>

        <!--<div class="row">

            <div class="col-lg-12 order-lg-12 mb-12 mb-lg-0">
                <form class="js-validate" novalidate="novalidate">
                    <div class="pl-lg-3 ">
                        <div class="bg-gray-1 rounded-lg">
                           <div class="p-4 mb-4 checkout-table">
                                <div class="border-bottom border-color-1 mb-5">
                                    <h3 class="section-title mb-0 pb-2 font-size-25">Your order</h3>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-name">Terms</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in shoppingCart track by $index" class="cart_item">
                                            <td>{{item.Product.mprodname}}&nbsp;<strong class="product-quantity">× {{item.Quantity}}</strong></td>
                                            <td>{{ getTerms(item.Product.mtermf,item.Product.mtermp) }}</td>
                                            <td>£{{item.Product.mprice | number:2}}</td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td></td>
                                            <td>£{{shoppingCart.totalPrice | number:2}}</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td></td>
                                            <td><strong>£{{shoppingCart.totalPrice | number:2}}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <button type="submit" ng-click="SaveCart()" ng-disabled="!IsLogedIn" class="btn btn-primary-dark-w btn-block btn-pill font-size-20 mb-3 py-3">Place order</button>
                            </div>
                         </div>
                    </div>
                </form>
            </div>


        </div>-->
        <div class="row" ng-show="(shoppingCart.length<=0 && savequote==0)">
            <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Your leasing cart is empty!</h4>
                    <p></p>
                    <hr>
                    <p class="mb-0"><a href="/Leasing/" class="btn btn-secondary">Continue Shopping</a></p>
                </div>
            </div>
        </div>



        <!-- Accordion -->
        <div id="shopCartAccordion" class="accordion rounded mb-5">
            <!-- Card -->
            <div class="card border-0" ng-show="(!IsLogedIn && shoppingCart.length>0 && !IsRegistered)">
                <div id="shopCartHeadingOne" class="alert alert-primary mb-0" role="alert">
                    Returning customer? <a href="#" class="alert-link collapsed" data-toggle="collapse" data-target="#shopCartOne" aria-expanded="true" aria-controls="shopCartOne">Click here to login</a>
                </div>
                <div id="shopCartOne" class="border border-top-0 collapse show in" aria-labelledby="shopCartHeadingOne" data-parent="#shopCartAccordion" style="" aria-expanded="true">
                    <!-- Form -->
                    <form id="loginform" ng-hide="my.showforget2" novalidate name="f2" ng-submit="Login()" class="js-validate p-5">
                        <!-- Title -->
                        <div class="mb-5">
                            <p class="text-gray-90 mb-2">Welcome back! Sign in below</p>
                            <p class="text-gray-90">
                                If you are an existing customer, please enter your details below<br />
                                New to EYS? Create your EYS account or New to EYS? Click here to create your EYS account

                            </p>
                        </div>
                        <div class="mb-5">
                            <p class="login-error showerror" ng-show="IsError">Invalid username or password</p>
                            <p class="login-error showerror" ng-show="NotVerify">Your account is not verified yet. Please check your email and verify account.</p>
                            <p class="login-error showerror" ng-show="invalidcaptcha">Invalid Captcha or Expired.Please try again</p>
                        </div>
                        <div class="form-group" ng-show="showmsg!='' && showmsg!=null">
                            <div class="alert alert-success" ng-bind-html="showmsg"></div>
                        </div>
                        <!-- End Title -->

                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Form Group -->
                                <div class="js-form-message form-group">



                                    <label class="form-label" for="signinSrEmailExample3">Email address</label>
                                    <input type="email" ng-model="LoginData.museridemail" name="museridemail" ng-class="Submitted?'form-control ng-dirty':'form-control'" required autofocus id="signinSrEmailExample3" placeholder="Email address" aria-label="Email address"
                                           data-msg="Please enter a valid email address."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                    <span class="error" ng-show="(f2.museridemail.$dirty || Submitted) && f2.museridemail.$error.required">Username required</span>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <div class="col-lg-6">
                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                    <label class="form-label" for="signinSrPasswordExample2">Password</label>
                                    <input type="password" ng-model="LoginData.mpwd" class="form-control" name="mpwd" ng-class="Submitted?'form-control ng-dirty':'form-control'" required autofocus id="signinSrPasswordExample2" placeholder="********" aria-label="********"
                                           data-msg="Your password is invalid. Please try again."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                    <span class="error" ng-show="(f2.mpwd.$dirty || Submitted) && f2.mpwd.$error.required">Password required</span>
                                </div>
                                <!-- End Form Group -->
                            </div>
                        </div>

                        <!-- Checkbox -->
                        <!--<div class="js-form-message mb-3">
                            <div class="custom-control custom-checkbox d-flex align-items-center">
                                <input type="checkbox" class="custom-control-input" id="rememberCheckbox" name="rememberCheckbox" required
                                       data-error-class="u-has-error"
                                       data-success-class="u-has-success">
                                <label class="custom-control-label form-label" for="rememberCheckbox">
                                    Remember me
                                </label>
                            </div>
                        </div>-->
                        <!-- End Checkbox -->
                        <!-- Button -->
                        <div>
                            <!--<div class="g-recaptcha" id="gcaptcha4" style="display:inline-block;text-align:center;" data-sitekey="6Lea7UgUAAAAAGw9F_NmSsCRMbYJ09AexjaG1CHp"></div>
                            <textarea name="Captcha_Response1" style="display:none;"></textarea>--><br/>
                            <button type="submit" name="submit" class="btn btn-primary-dark-w px-5">Login</button>
                            <a class="text-blue pull-right px-5" href="javascript:;" ng-click="my.showforget2=true;showlogin2=false;">Lost your password?</a>
                        </div>
                        <!-- End Button -->
                    </form>
                    <!-- End Form -->
                    <form name="forgetpwd" class="p-5" ng-show="my.showforget2" ng-submit="forgetPassword()">

                        <!-- Forgot Password -->
                        <div id="forgotPassword" data-target-group="idForm">
                            <!-- Title -->
                            <header class="text-center mb-7">

                                <p>
                                    Enter the email address associated with your EYS account.
                                </p>
                            </header>
                            <!-- End Title -->
                            <!-- Form Group -->
                            <div class="form-group" ng-show="IsFError">
                                <div class="alert alert-warning">{{invalidFlogin}}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-4">
                                    <!-- Form Group -->
                                    <div class="js-form-message  form-group">
                                        <label class="sr-only" for="recoverEmail">Your email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="recoverEmailLabel">
                                                    <span class="fas fa-user"></span>
                                                </span>
                                            </div>
                                            <input type="email" class="form-control" name="recoveremail" ng-model="my.recoverEmail2" ng-change="setrecoveremail(my.recoverEmail2)" id="recoverEmail" placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required
                                                   data-msg="Please enter a valid email address."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                            <span class="loginerror" ng-show="(forgetpwd.recoveremail.$dirty || FSubmitted) && forgetpwd.recoveremail.$error.required">Username required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </div>
                                <!-- End Form Group -->
                            
                                <div class="mb-2" style="margin:0 auto;text-align:center;">
                                    <button type="submit" ng-disabled="FSubmitted" class="btn  btn-sm btn-primary px-5">Recover Password</button>
                                </div>

                                <div class="text-center mb-4">
                                    <span class="small text-dark">Remember your password?</span>
                                    <a class="js-animation-link small" href="javascript:;"
                                       data-target="#login"
                                       data-link-group="idForm"
                                       data-animation-in="slideInUp" ng-click="my.showforget2=false;showlogin2=true;" style="color:#333!important;">
                                        Login
                                    </a>
                                </div>
                            </div>
                            <!-- End Forgot Password -->
</form>


                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Accordion -->

        <div id="shopCartAccordion1" class="accordion rounded mb-6" ng-show="(!IsLogedIn && shoppingCart.length>0 && !IsRegistered)">
            <!-- Card -->
            <div class="card border-0">
                <div id="shopCartHeadingTwo" class="alert alert-primary mb-0" role="alert">
                    New Customer? <a href="#" class="alert-link" data-toggle="collapse" data-target="#shopCartTwo" aria-expanded="false" aria-controls="shopCartTwo">Click here to register</a>
                </div>
                <div id="shopCartTwo" class="border border-top-0 collapse" aria-labelledby="shopCartHeadingTwo" data-parent="#shopCartAccordion1" style="">
                    <div class="col-lg-12 order-lg-1">
                        <form class="rform js-validate" name="form" ng-submit="SaveData(form.$valid)" novalidate>

                            <div class="pb-7 mb-7">


                                <div class="row box-shadow-1 pt-5 pb-5 mb-5">
                                    <!-- Title -->
                                    <div class="col-md-12">
                                        <div class="border-bottom border-color-1 mb-5">

                                            <h3 class="section-title mb-0 pb-2">Your details</h3>
                                        </div>
                                    </div>
                                    <!-- End Title -->
                                    <!-- Billing Form -->
                                    <div class="col-md-12">
                                        <p style="color:#ae0404">All fields mark (*) are compulsory</p>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                School Name
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" uib-typeahead="tierOne as tierOne.name for tierOne in tierOneData | filter:$viewValue | limitTo:8" typeahead-on-select="onSelectSchool($item, $model, $label)" typeahead-no-results="User.mschoolid=0" ng-model="User.morgname" name="companyName" placeholder="School Name" aria-label="Company Name" data-msg="Please enter a company name." validate-on="blur" required required-message="'Please enter father name.'" data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.companyName.$touched) && form.companyName.$error.required">Please enter school name</div>

                                        </div>

                                        <!-- End Input -->
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                First Name
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" maxlength="100" class="form-control" ng-model="User.mname" name="Name" placeholder="First Name" aria-label="Wayley" required="" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.Name.$touched) && form.Name.$error.required">Please enter first name</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Surname
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" maxlength="100" class="form-control" ng-model="User.msname" name="SName" placeholder="Surname" aria-label="Wayley" required="" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.SName.$touched) && form.SName.$error.required">Please enter surname</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="w-100"></div>
                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Position
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" maxlength="100" class="form-control" ng-model="User.mposition" name="Position" placeholder="Position" aria-label="Wayley" required="" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.Position.$touched) && form.Position.$error.required">Please enter position</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Contact Number
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" maxlength="20" class="form-control" ng-model="User.mphone" name="Phone" required placeholder="Phone" aria-label="+1 (062) 109-9222" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.Phone.$touched) && form.Phone.$error.required">Please enter contact number</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>
                                    <div class="w-100"></div>

                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Email address (Login ID)
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="email" maxlength="150" class="form-control" ng-model="User.museridemail" ng-change="checkuser(User.museridemail,'0')" name="emailA" placeholder="Please enter a valid email address" aria-label="jackwayley@gmail.com" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.emailA.$touched)">
                                                <span ng-show="form.emailA.$error.required">Please enter your email address</span>
                                                <span ng-show="form.emailA.$error.email">Please enter valid email</span>
                                                <span ng-show="InValidEmail['0']">Email is taken already</span>
                                            </div>
                                        </div>
                                        <!-- End Input -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Password
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="password" class="form-control" ng-model="User.mpwd" name="password" id="signinSrPasswordExample1" placeholder="********" aria-label="********" required
                                                   data-msg="Enter password."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success" ng-pattern="@ngpattern">
                                            <span class="m-input-icon__icon m-input-icon__icon--right">
        <span>
            <i class="fa fa-eye" id="togglePassword" onclick="pwdfunction()" style="cursor: pointer;padding-top:17px;"></i>
        </span>
    </span>
                                            
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.password.$touched) && form.password.$error.required">Please enter password</div>
                                            <div class="invalid-feedback" ng-show="!form.password.$valid">Password should be at least 8 characters long and should contain one number,one character and one special character</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>



                                    <div class="col-md-12" style="display:none;">
                                        <div class="js-form-message mb-6">
                                            <label></label>
                                            <div id="postcode_lookup"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="js-form-message mb-6">
                                            <label></label>
                                            <div id="postcode_lookup1" ng-init="postcode='';selectedAddress=''">
                                                <input type="text" id="getaddress_input" placeholder="Enter your Postcode" ng-model="postcode" class="form-control postcode-autocomplete" name="getaddress_input" autocomplete="off">
                                                <button id="getaddress_button" type="button" class="btn btn-primary" ng-click="getAddress(postcode)" ng-disabled="getaddressdisable">{{getaddbtntxt}}</button>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7" ng-show="addressess.length>0">
                                        <div class="js-form-message mb-6">
                                            <select id="getaddress_dropdown" ng-options="address as address.Name for address in addressess track by address.Code" class="form-control js-select selectpicker dropdown-select" ng-model="selectedAddress" ng-change="getSelectedAddress(selectedAddress)" data-msg="Please select country." data-error-class="u-has-error" data-success-class="u-has-success"
                                                    data-live-search="true"
                                                    data-style="form-control border-color-1 font-weight-normal">
                                                <option value="">Select address</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Address line 1
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" id="line1" maxlength="100" class="form-control" ng-model="User.maddress1" name="streetAddress" placeholder="" aria-label="470 Lucy Forks" required="" data-msg="Please enter a valid address." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.streetAddress.$touched) && form.streetAddress.$error.required">Please enter adddress</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Address line 2
                                            </label>
                                            <input type="text" id="line2" maxlength="100" class="form-control" ng-model="User.maddress2" placeholder="" aria-label="YC7B 3UT" data-msg="Please enter a valid address." data-error-class="u-has-error" data-success-class="u-has-success">

                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                City
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" id="town" maxlength="50" class="form-control" ng-model="User.mcity" name="cityAddress" placeholder="" aria-label="London" required="" data-msg="Please enter a valid address." data-error-class="u-has-error" data-success-class="u-has-success" autocomplete="off">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.cityAddress.$touched) && form.cityAddress.$error.required">Please enter city</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="col-md-6">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                Postcode/Zip
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" maxlength="9" id="postcode" class="form-control" ng-model="User.mpostcode" name="postcode" placeholder="" required="" data-msg="Please enter a postcode or zip code." data-error-class="u-has-error" data-success-class="u-has-success">
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.postcode.$touched) && form.postcode.$error.required">Please enter Postcode</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>
                                    <div class="col-md-6 hide">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6" >
                                            <label class="form-label">
                                                Country
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select name="country" ng-init="mcountry = {Code:230}" ng-options="country as country.Name for country in countries track by country.Code" class="form-control js-select selectpicker dropdown-select" ng-model="mcountry" ng-change="getStates(mcountry)" required="" data-msg="Please select country." data-error-class="u-has-error" data-success-class="u-has-success"
                                                    data-live-search="true"
                                                    data-style="form-control border-color-1 font-weight-normal">
                                                <option value="">Select country</option>
                                            </select>
                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.country.$touched) && form.country.$error.required">Select Country from list</div>
                                        </div>
                                        <!-- End Input -->
                                    </div>

                                    <div class="col-md-6 hide">
                                        <!-- Input -->
                                        <div class="js-form-message mb-6">
                                            <label class="form-label">
                                                State
                                                <!--<span class="text-danger">*</span>-->
                                            </label>
                                            <select ng-options="state as state.Name for state in states track by state.Code" class="form-control js-select selectpicker dropdown-select" ng-model="mstate" data-msg="Please select states." data-error-class="u-has-error" data-success-class="u-has-success"
                                                    data-live-search="true"
                                                    data-style="form-control border-color-1 font-weight-normal">
                                                <option value="">Select State</option>
                                            </select>

                                        </div>
                                        <!-- End Input -->
                                    </div>
                                    <div class="w-100"></div>



                                    <div class="w-100"></div>
                                    @*<div class="col-md-12">
                        <div class="js-form-message" style="background:#e0dede;padding:10px;margin-bottom:30px;border-radius:6.1875rem;">

                            <label class="radio-inline ">
                                Register as a
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="User.musertype" value="Buyer" ng-click="changefield('Buyer')" ng-required="!User.musertype" name="optradio"> Buyer?
                            </label>
                            <label class="radio-inline">
                                or
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="User.musertype" value="Approver" ng-click="changefield('Approver')" ng-required="!User.musertype" name="optradio"> Approver?
                            </label>

                        </div>

                    </div>

                    <div class="col-md-12" ng-show="IsClicked">
                        <div class="col-md-6">
                            <!-- Input -->
                            <div class="js-form-message mb-6">
                                <label class="form-label">
                                    {{ConfigureField.Name}} Name

                                    <span class="text-danger" ng-show="ConfigureField.Name=='Approver'">*</span>
                                </label>
                                <input type="text" class="form-control" maxlength="100" ng-required="ConfigureField.Name=='Approver'" ng-model="User.manotherusername" name="{{ConfigureField.Name}}Name" placeholder="{{ConfigureField.Name}} Name" aria-label="" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                <div class="invalid-feedback" ng-show="(form.$submitted || form.ApproverName.$touched) && form.ApproverName.$error.required">Enter Approver Name</div>
                            </div>
                            <!-- End Input -->
                        </div>
                        <div class="col-md-6">
                            <!-- Input -->
                            <div class="js-form-message mb-6">
                                <label class="form-label">
                                    {{ConfigureField.Name}} Email

                                    <span class="text-danger" ng-show="ConfigureField.Name=='Approver'">*</span>
                                </label>
                                <input type="email" maxlength="150" class="form-control" ng-required="ConfigureField.Name=='Approver'" ng-change="checkuser(User.manotheruseremail,'1')" ng-model="User.manotheruseremail" name="{{ConfigureField.Name}}Email" placeholder="{{ConfigureField.Name}} Email" aria-label="" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                <div class="invalid-feedback" ng-show="(form.$submitted || form.ApproverEmail.$touched || InValidEmail['1'])">
                                    <span ng-show="form.ApproverEmail.$error.required">Enter detail</span>
                                    <span ng-show="form.ApproverEmail.$error.email || form.BuyerEmail.$error.email">Enter valid email</span>
                                    <span ng-show="form.ApproverEmail.$error.emailA || form.BuyerEmail.$error.emailA">This email is already taken!</span>
                                    <span ng-show="InValidEmail['1']">This email is already taken previously!</span>
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>
                        <div class="col-md-6" style="margin-top:15px;">
                            <!-- Input -->
                            <div class="js-form-message mb-6">
                                <label class="form-label">
                                    Accountant Email
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" maxlength="150" class="form-control" ng-model="User.maccountantemail"  ng-change="checkuser(User.manotheruseremail,'2')" name="AccountantEmail" placeholder="Wayley" aria-label="Wayley" data-msg="Please enter your last name." data-error-class="u-has-error" data-success-class="u-has-success">
                                <div class="invalid-feedback" ng-show="(form.$submitted || form.ApproverEmail.$touched || InValidEmail['2'])">
                                    <span ng-show="form.AccountantEmail.$error.email">Enter valid email</span>
                                    <span ng-show="form.AccountantEmail.$error.emailA">This email is already taken!</span>
                                    <span ng-show="InValidEmail['2']">This email is already taken previously!</span>
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>


                    </div>
                                    *@
                                </div>
                                <div class="row box-shadow-1" style="display:none;">

                                    <div class="col-md-12 width-100">
                                        <div class="js-form-message " style="padding:10px;margin-bottom:0px;">
                                            <label class="form-label">
                                                Agreements Details

                                            </label>

                                            <hr />
                                        </div>
                                        <div class="col-md-12 box-shadow-1">
                                            <div class="js-form-message border-bottom" style="padding:10px;">

                                                <label style="color:#333;">
                                                    Is your Agreement address the same as your delivery address? *
                                                </label>
                                                <label class="radio-inline" ng-init="diffaddress='yes'">
                                                    <input type="radio" ng-model="diffaddress" value="yes" ng-click="changefield('Buyer')" checked name="diffaddress">Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="diffaddress" value="no" ng-click="changefield('Approver')" name="diffaddress">no
                                                </label>

                                            </div>
                                            <div ng-show="diffaddress=='no'">
                                                <div class="row m-0">
                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Address line 1
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input type="text" id="line1" maxlength="100" class="form-control" ng-model="MoreAddress.maddress1" name="streetAddress1" placeholder="" aria-label="470 Lucy Forks" ng-required="diffaddress=='no'" data-msg="Please enter a valid address." data-error-class="u-has-error" data-success-class="u-has-success">
                                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.streetAddress1.$touched) && form.streetAddress1.$error.required">Please enter address</div>
                                                        </div>
                                                        <!-- End Input -->
                                                    </div>

                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Address line 2
                                                            </label>
                                                            <input type="text" id="line2" maxlength="100" class="form-control" ng-model="MoreAddress.maddress2" placeholder="" aria-label="YC7B 3UT" data-msg="Please enter a valid address." data-error-class="u-has-error" data-success-class="u-has-success">

                                                        </div>
                                                        <!-- End Input -->
                                                    </div>
                                                </div>
                                                <div class="row m-0">
                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                City
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input type="text" id="town" maxlength="50" class="form-control" ng-model="MoreAddress.mcity" name="cityAddress1" placeholder="" aria-label="London" ng-required="diffaddress=='no'" data-msg="Please enter a valid address." data-error-class="u-has-error" data-success-class="u-has-success" autocomplete="off">
                                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.cityAddress1.$touched) && form.cityAddress1.$error.required">Please enter city</div>
                                                        </div>
                                                        <!-- End Input -->
                                                    </div>

                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Postcode/Zip
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input type="text" maxlength="9" id="postcode" class="form-control" ng-model="MoreAddress.mpostcode" name="postcode1" placeholder="" ng-required="diffaddress=='no'" data-msg="Please enter a postcode or zip code." data-error-class="u-has-error" data-success-class="u-has-success">
                                                            <div class="invalid-feedback" ng-show="(form.$submitted || form.postcode1.$touched) && form.postcode1.$error.required">Please enter postcode</div>
                                                        </div>
                                                        <!-- End Input -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 box-shadow-1 mt-5 mb-5">
                                            <div class="js-form-message border-bottom" style="padding:10px;margin-bottom:0px;">

                                                <label style="color:#333;">
                                                    Is your Agreement contact the same as your main contact? *
                                                </label>
                                                <label class="radio-inline" ng-init="samecontact='yes'">
                                                    <input type="radio" ng-model="samecontact" value="yes" ng-click="changefield('Buyer')" checked name="samecontact">Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="samecontact" value="no" ng-click="changefield('Approver')" name="samecontact">no
                                                </label>

                                            </div>
                                            <div class="js-form-message " ng-show="samecontact=='no'" style="padding:10px;margin-bottom:0px;">
                                                <label class="form-label">
                                                    More Contacts
                                                    <!--<button type="button" ng-click="addRow()" class="btn btn-link pull-right" style="padding:0px 5px!important;background:transparent;">Add More</button>-->
                                                </label>

                                                <hr />
                                            </div>
                                            <div ng-repeat="input in MoreContacts| limitTo:5 track by $index" ng-show="samecontact=='no'">
                                                <div class="w-100"></div>
                                                <div class="box-shadow-1">
                                                    <div class="col-md-3">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                First Name
                                                            </label>
                                                            <input type="text" maxlength="100" class="form-control" ng-model="input.cusername" name="CName" placeholder="First Name" />

                                                        </div>
                                                        <!-- End Input -->
                                                    </div>
                                                    <div class="col-md-3">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Surname
                                                            </label>
                                                            <input type="text" maxlength="100" class="form-control" ng-model="input.csurname" name="CSName" placeholder="Surname" />

                                                        </div>
                                                        <!-- End Input -->
                                                    </div>

                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Position
                                                            </label>
                                                            <input type="text" maxlength="100" class="form-control" ng-model="input.cposition" name="CPosition" placeholder="Position">

                                                        </div>
                                                        <!-- End Input -->
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Phone

                                                            </label>
                                                            <input type="text" maxlength="20" class="form-control" ng-model="input.cphone" name="CPhone" placeholder="Phone">

                                                        </div>
                                                        <!-- End Input -->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <!-- Input -->
                                                        <div class="js-form-message mb-2">
                                                            <label class="form-label">
                                                                Email Address

                                                            </label>
                                                            <input type="text" maxlength="150" class="form-control" ng-model="input.cemailaddress" name="CEmail1" placeholder="Email address">

                                                        </div>
                                                        <!-- End Input -->
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--<button type="button" ng-click="deleteRow($index)" class="btn btn-link pull-right" style="padding:0px 5px!important;">Delete Data</button>-->
                                                    </div>

                                                    <div class="col-md-12">
                                                        <hr />
                                                    </div>
                                                    <div class="w-100"></div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row box-shadow-1 mt-5">

                                    <div class="col-md-12 width-100">
                                        <div class="js-form-message " style="padding:10px;margin-bottom:0px;">
                                            <label class="form-label">
                                                Confirmation

                                            </label>

                                            <hr />
                                        </div>

                                        <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="offer" ng-model="User.subscribe" value="1" id="defaultCheck9" data-msg="Please agree terms and conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                                <label class="form-check-label form-label" for="defaultCheck10">
                                                    I wish to receive newsletters, offers and information from equipyourschool.co.uk

                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-items-center justify-content-between px-3 mb-5">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="terms" value="" id="defaultCheck10" ng-model="terms" required="" data-msg="Please agree terms and conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                                                <label class="form-check-label form-label" for="defaultCheck10">
                                                    By creating an account you agree to EYS <a href="/Leasing/TermsConditions" target="_blank" class="text-blue">Terms and Conditions </a>
                                                    

                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="invalid-feedback" ng-show="(form.$submitted || form.terms.$touched) && form.terms.$error.required">please tick this</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row" ng-show="form.$submitted && (!validuser)">
                                <div class="w-100"></div>

                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        Please fill  all * mark information or fill correct information in the form.
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="w-100"></div>
                                <div class="col-md-12">
                                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary-dark-w btn-block btn-pill font-size-20 mb-3 py-3">{{submitText}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row" ng-show="IsRegistered">
            <div class="col-md-12">
                <div class="alert alert-success text-center">
                    <strong>Success</strong>
                    Please check your email address and verify your account.<br />
                    <a href="/Leasing/" class="btn btn-primary">Continue to Shopping</a>
                </div>
            </div>
        </div>
        <!-- End Card -->
        <div class="row" style="display:none;">
            <div class="col-xs-12">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>The items in your basket have now been saved into your quotation basket successfully.<br />For further process please click on below link.</p>
                    <hr>
                    <p class="mb-0"><a href="/MyAccount/Index" class="btn btn-secondary">view your leasing basket</a></p>
                </div>
            </div>
        </div>
    </div>
    
    
</main>
<!-- ========== END MAIN CONTENT ========== -->
@section scripts{
    <script type="text/javascript">
        var widget3;
        var wwidget3;
        /*var verifyCallback4 = function (response) {
            widget3 = response;
        };*/
        /*var onloadCallback = function () {
            wwidget3 = grecaptcha.render(document.getElementById('gcaptcha4'), {
                'sitekey': '6Lea7UgUAAAAAGw9F_NmSsCRMbYJ09AexjaG1CHp',
                'callback': verifyCallback4,
            });
        };*/
        function pwdfunction() {

            var x = document.getElementById("signinSrPasswordExample1");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
            }
            document.getElementById("togglePassword").classList.toggle("fa-eye-slash");
        }

        app.controller('CheckoutController', ['$scope', '$anchorScroll', '$http', '$rootScope', '$location', '$sce', '$cookies', function ($scope,$anchorScroll, $http, $rootScope, $location, $sce, $cookies, LoginService) {
            
            $scope.isCheckoutPage = false;
            $scope.loader = true;
            $scope.cartdisable = true;
            $rootScope.shoppingCart = [];
            $scope.IsLogedIn = false;
            $scope.IsRegistered = false;
            $scope.IsError = false;
            $scope.NotVerify = false;
            $scope.invalidcaptcha = false;
            $scope.Message = '';
            $scope.Submitted = false;
            $scope.Session_Id = "";
            $scope.IsFormValid = false;
            $scope.IsRegisterFormValid = false;
            $scope.IsClicked = false;
            $scope.IsApprover = false;
            $scope.countries = [];
            $scope.states = [];
            $scope.mcountry = "";
            $scope.mstate = "";

            $scope.validuser = false;
            $scope.my = { showforget2: false,recoverEmail2 : "" };
            $scope.showlogin2 = true;
            
            $scope.InValidEmail = {};
            
            $scope.MoreContacts = [{
                cusername: '',
                csurname: '',
                cposition: '',
                cemailaddress: '',
                cphone: ''
            }];
            $scope.MoreAddress = {
                maddress1: '',
                maddress2: '',
                mcity: '',
                mcountry: '',
                mpostcode: ''
            };
            $scope.tierOneData = [];
            $http.get('/api/AccountApi/GetSchool')
                .success(function (data) {
                    angular.forEach(data, function (item) {
                        $scope.tierOneData.push({ name: item.Name, label: item.Code });

                    });
                    console.log($scope.tierOneData);
                });
            $scope.updateschoolid = function () {
                $scope.User.mschoolid = 0;
            }
            $scope.onSelectSchool = function ($item, $model, $label) {
                $scope.$item = $item;
                $scope.$model = $model;
                $scope.$label = $label;
                $scope.User.morgname = $label;
                $scope.User.mschoolid = $item["label"];
                $http.get('/api/AccountApi/GetSchoolDetail?detailid=' + $item["label"])
                    .success(function (data) {
                        if (data != "empty") {
                            $scope.User.maddress1 = data["Street"];
                            $scope.User.maddress2 = data["Addressline3"];;
                            $scope.User.mcity = data["Town"];
                            $scope.User.mpostcode = data["Postcode"];
                        } else {
                            $scope.User.maddress1 = "";
                            $scope.User.maddress2 = "";
                            $scope.User.mcity = "";
                            $scope.User.mpostcode = "";
                        }

                    });

            };
            console.log("SaveQuote" + $rootScope.savequote);
            $scope.addressess = [];
            $scope.allAddress = [];
            $scope.getaddbtntxt = "Find the address";
            $scope.getaddressdisable = false;
            $scope.getAddress = function (postcode) {
                var apikey = "gpVL4Uf-OECpRvzOjZnKWA33077";
                $scope.getaddressdisable = true;
                $scope.getaddbtntxt = "Loading..";
                $http.get("https://api.getaddress.io/find/" + postcode + "?api-key=" + apikey + "&expand=true&sort=true").success(function (data, status) {
                    if (data != null) {
                        console.log(data);
                        $scope.User.mpostcode = data["postcode"];
                        $scope.allAddress = data["addresses"];

                        var i = 0;
                        console.log($scope.allAddress);
                        $scope.allAddress.forEach(function (obj) {
                            var newobj = {
                                Code: i,
                                Name: jQuery.grep(obj.formatted_address, Boolean).join(", ")
                            };
                            $scope.addressess.push(newobj); 
                            i++;
                        })



                        //jQuery("#reg_postcode").val(data["postcode"]);
                    }
                    else {
                        $scope.getaddbtntxt = "Find address";
                        $scope.getaddressdisable = false;
                    }
                    $scope.getaddbtntxt = "Find the address";
                    $scope.getaddressdisable = false;


                }).error(function (e) {
                    $scope.getaddbtntxt = "Find the address";
                    $scope.getaddressdisable = false;
                });
            }
            $scope.getSelectedAddress = function (id) {

                console.log(id.Code);
                var d = $scope.allAddress[id.Code];
                $scope.User.maddress1 = d["line_1"];
                $scope.User.maddress2 = d["line_2"];
                $scope.User.mcity = d["town_or_city"];

            }
            function loadcountry() {
                $http.get("api/AccountApi/GetCountries").success(function (data, status) {

                    if (data == "empty") {
                        $rootScope.countries = [];
                       
                    }
                    else {
                        $scope.countries = data;
                        $scope.getStates($scope.countries[229]);
                    }


                }).error(function () {

                    //alert('failed');

                });
            }
            $scope.getStates = function (countryid) {
                $scope.User.mcountry = countryid.Code;
                $http.get("api/AccountApi/GetStates?cnid="+countryid.Code).success(function (data, status) {

                    if (data == "empty") {
                        $rootScope.states = [];

                    }
                    else {
                        $scope.states = data;
                    }


                }).error(function () {

                    //alert('failed');

                });
            }

            $scope.ConfigureField = {
                "Name": "Buyer"

            
            }
            $scope.changefield = function (field) {
                $scope.IsClicked = true;
                $scope.User.musertype = field;
                console.log(field);
                if (field == 'Buyer') {

                    $scope.ConfigureField = {
                        "Name": "Approver"

                    };
                } else if (field == 'Approver') {
                    $scope.ConfigureField = {
                        "Name": "Buyer"

                    };
                }

            }
            $scope.cartbutton = function () {
                $scope.cartdisable = false;
            }
            if (!angular.isUndefined($cookies.get('leasebasket'))) {
                $rootScope.shoppingCart = $cookies.getObject('leasebasket');
                //    $scope.shoppingCart = $cookies.getObject('leasebasket');
                //$scope.loader = false;
            }
            else {
                //$scope.loader = false;
            }

            if ($rootScope.muserid > 0 && $rootScope.savequote == 0) {
                if (!angular.isUndefined($cookies.get('leasebasket'))) {
                    window.location = "/Leasing/ConfirmOrder";
                    /*$scope.Session_Id = $cookies.getObject('leasebasket');
                    $rootScope.shoppingCart.totalPrice = 0;
                    $scope.IsLogedIn = true;
                    var passdata = { "SessionId": $scope.Session_Id, "Product": $scope.shoppingCart, "muserid": $rootScope.mschoolid, "mquotetotal": $scope.shoppingCart.totalPrice };
                    $http.post("api/ProductApi/SaveQuote", passdata).success(function (data, status) {

                        if (data != "") {
                            $cookies.remove("leasebasket", { path: '/' });
                            $cookies.remove("same");
                            var expireDate = new Date();
                            expireDate.setDate(expireDate.getDate() + 1);
                            $cookies.putObject('leasequote', data, { 'expires': expireDate });
                            window.location = "/Leasing/ConfirmOrder";
                      
                        }
                        else {
                            $scope.IsError = true;
                            alert('Invalid Credential!');
                        }

                        $scope.user = null;

                    }).error(function () {

                        alert('failed');

                    });
                }*/
                }
            }
            else {
                $scope.loader = false;
                loadcountry();

            }
            $scope.getTerms = function (mtermf, mtermp) {
                var msg = "";
                var p = "";
                if (mtermp != null) {
                    p = mtermp / 12;
                }
                console.log(mtermf, mtermp);
                switch (mtermf) {
                    case 1:
                        msg = p + " years monthly";
                        break;
                    case 3:
                        msg = p + " years quaterly";
                        break;
                    case 4:
                        msg = p + " years termly"
                        break;
                    case 6:
                        msg = p + " years bi-annually"
                        break;
                    case 12:
                        msg = p + " years annually"
                        break;
                    default:
                        msg = "";
                        break;

                }
                //item.mprice=5;
                return msg;
            }
            $scope.recoverEmail = "";
            /*******************************Forget Password*******************/
            $scope.setrecoveremail = function (rval) {
                $scope.recoverEmail = rval;
            }
            $scope.updateVal = function (val) {
                $scope.showforget2 = val;
                
            }
            $scope.forgetPassword = function () {
                $scope.FSubmitted = true;
                // alert("submit");
                //if ($scope.IsLoginFormValid) {
                $http.get('/api/UserApi/ForgetUser?email=' + $scope.recoverEmail).success(function (data) {

                    if (data["msg"] == "Success") {
                        $rootScope.showmsg = "Please check your registered email for forget password.";
                        $scope.invalidFlogin = "";
                        $scope.my.recoverEmail2 = "";
                        $scope.my.showforget2 = false;
                        $scope.showlogin2 = true;

                        $scope.FSubmitted = false;
//                        $scope.$apply();
                    }
                    else {
                        $scope.IsError = false;
                        $scope.IsFError = true;
                        $scope.invalidFlogin = "Invalid Username";
                        $scope.FSubmitted = false;
                    }

                 

                }).error(function () {
                    $scope.FSubmitted = false;
                    alert('failed');

                })
                //}
            };

            $rootScope.shoppingCart.totalPrice = 0;
            $scope.$watchGroup(['f2.$valid', 'reg.$valid', 'shoppingCart', 'IsLogedIn', 'form.$valid'], function (newVal) {
                $scope.IsFormValid = newVal;
                
                $scope.IsRegisterFormValid = newVal;
                $rootScope.shoppingCart.totalPrice = 0;
                $rootScope.shoppingCart.totalItems = 0;
                $scope.getTotalPrice();

                $scope.getTotalNoOfItems();
                if ($rootScope.muserid == 0) {
                    $scope.IsLogedIn = false;
                    console.log("IsLogedIn " + $scope.IsLogedIn);
                }

            }, true);
            $scope.UpdateCart = function (item, no) {
                var items = { Product: item, Quantity: no };

                console.log(items);
                if ($rootScope.shoppingCart.length === 0) {
                    $rootScope.shoppingCart.push(items);
                    $scope.count = "showing " + $rootScope.shoppingCart.length + " results";
                } else {
                    var repeat = false;
                    for (var i = 0; i < $rootScope.shoppingCart.length; i++) {
                        console.log($rootScope.shoppingCart[i].Product.mprodvarid);
                        if ($rootScope.shoppingCart[i].Product.mprodvarid === items.Product.mprodvarid) {
                            repeat = true;
                            $rootScope.shoppingCart[i].Quantity = no;
                        }
                    }
                    if (!repeat) {
                        $rootScope.shoppingCart.push(items);
                    }
                    $scope.count = "showing " + $rootScope.shoppingCart.length + " results";
                }
                console.log(items);
                var expireDate = new Date();
                expireDate.setDate(expireDate.getDate() + 1);
                $cookies.putObject('leasebasket', $rootScope.shoppingCart, { 'expires': expireDate, 'path': '/' });
                $rootScope.shoppingCart = $cookies.getObject('leasebasket');

                $scope.total += parseFloat(items.Product.mprice);
                $cookies.put('total', $scope.total, { 'expires': expireDate });

            };
            $scope.checkout = function () {
                $location.path('/checkout');
                $scope.isCheckoutPage = true;
            };

            $scope.deleteFromCart = function (index) {
                $scope.loader = true;
                var item = { index: index };
                $rootScope.shoppingCart.splice(index, 1);
                if ($rootScope.shoppingCart.length <= 0) {
                    $cookies.remove("leasebasket", { path: '/' });
                }
                else {
                    var expireDate = new Date();
                    expireDate.setDate(expireDate.getDate() + 1);
                    $cookies.putObject('leasebasket', $rootScope.shoppingCart, { 'expires': expireDate, 'path': '/' });

                }
                $scope.loader = false;
            };

            $scope.clearShoppingCart = function (index) {
                $rootScope.shoppingCart = [];
                $cookies.remove("leasebasket", { path: '/' });

            };

            $scope.backToList = function () {
                $location.path('/list');
                $scope.isCheckoutPage = false;
            };

            $scope.getTotalPrice = function () {
                $rootScope.shoppingCart.forEach(function (itemObj) {
                    $rootScope.shoppingCart.totalPrice = Number($rootScope.shoppingCart.totalPrice) + Number($scope.getItemPrice(itemObj));
                });
            };

            $scope.getTotalNoOfItems = function () {
                $rootScope.shoppingCart.forEach(function (itemObj) {
                    $rootScope.shoppingCart.totalItems += $scope.getItemNo(itemObj);
                });
            };

            $scope.getItemPrice = function (itemObj) {
                var itemPrice = 0;

                itemPrice = (Number(itemObj.Product.mprice) * Number(itemObj.Quantity));
                return itemPrice;
            };

            $scope.getItemNo = function (itemObj) {
                return itemObj.Quantity;
            };
            /*************************User Login***************************/


            $scope.LoginData = {
                museridemail: '',
                mpwd: '',
                Captcha_Response:'',
            };
            $scope.Login = function () {
                $scope.Submitted = true;
                $scope.invalidcaptcha = false;
                $scope.IsError = false;
                $scope.NotVerify = false;
                $scope.LoginData.Captcha_Response = jQuery("#commoncaptcha").val(); //widget3;//jQuery("#g-recaptcha-response-1").val();
                if ($scope.IsFormValid) {
                    $http({

                        method: "POST",

                        url: "/User/UserLogin",

                        data: $scope.LoginData
                    }).success(function (data) {

                        if (data["msg"] == "Success") {
                            $scope.loader = true;
                            $scope.IsLogedIn = true;
                            $rootScope.mschoolid=data["Data"].muid
                            $rootScope.muserid = data["Data"].muserid;
                            $rootScope.musername = data["Data"].mname;
                            $rootScope.musertype = data["Data"].musertype;
                            $rootScope.morgname = data["Data"].morgname;
                            $rootScope.IsUserLogedIn = true;
                            $rootScope.savequote = 1;
                            $scope.Message = "Successfully login done. Welcome " + data["Data"].mname;
                            var expireDate = new Date();
                            expireDate.setDate(expireDate.getDate() + 1);
                            $cookies.putObject('userdata', data["Data"], { 'expires': expireDate, 'path': '/' });
                            $scope.SaveCart();
                        }
                        else if (data["msg"] == "InvalidCaptcha") {
                            $scope.invalidcaptcha = true;
                            //$scope.invalidlogin = "Your account is not verified yet.<br/>Please check your email and verify account.";
                            $scope.MSubmitted = false;
                        }
                        else if (data["msg"] == "NotVerify") {
                            $scope.NotVerify = true;
                            //$scope.invalidlogin = "Your account is not verified yet.<br/>Please check your email and verify account.";
                            $scope.MSubmitted = false;
                        }
                        else if (data["msg"] == "NotActive") {
                            $scope.IsError = true;
                            $scope.invalidlogin = "Your account is under review.<br/>Please contact administrator.";
                            $scope.MSubmitted = false;
                        }
                        else {
                            $scope.IsFError = false;
                            $scope.IsError = true;
                            //alert('Invalid Credential!');
                        }
                        $scope.user = null;

                    }).error(function () {

                        alert('failed');

                    })
                    grecaptcha.execute('6LfJV9MkAAAAAPJvDFy18GmUo_5oipfGR4umPwHd', { action: 'submit' }).then(function (token) {
                        jQuery("textarea[id='commoncaptcha']").val(token);
                    });

                }
            };

            /**************************User Registration******************************/
            $scope.addRow = function () {
                $scope.MoreContacts.push({
                    cusername: '',
                    cposition: '',
                    cemailaddress: '',
                    cphone: ''
                });
            }
            $scope.deleteRow = function (index) {
                $scope.MoreContacts.splice(index, 1);
            }
            $scope.submitText = "Save";
            $scope.rsubmitted = false;
            $scope.validuser = false;
            $scope.User = {
                museridemail: '',
                maddress1: '',
                maddress2: '',
                mcity: '',
                mcountry: '',
                mlandmark: '',
                mschoolid: 0,
                maddresstype: '',
                mpwd: '',
                mname: '',
                msname:'',
                morgname: '',
                mphone: '',
                manotherusername:'',
                manotheruseremail: '',
                maccountantemail: '',
                musertype: '',
                morecontacts: '',
                mposition: '',
                mpostcode: '',
                subscribe: '',
            };
            $scope.UserAddress = {
                maddress1: '',
                maddress2: '',
                mcity: '',
                mcountry: '',
                mlandmark: '',
                maddresstype: '',

            };
            $scope.UserMore = {
                mpwd: '',
                mname: '',
                morgname: '',
                mphone: '',

            };
            
            $scope.checkuser = function (data,type) {
                $http({

                    method: "POST",

                    url: "/User/Checkuser",

                    data: { "userid": data }
                }).success(function (data) {
                    if (data["msg"] == "Success") {
                        if ($scope.User.manotheruseremail != "" && $scope.User.museridemail == $scope.User.manotheruseremail) {
                            $scope.validuser = false;
                            $scope.InValidEmail[type] = true;
                        }
                        else if ($scope.User.maccountantemail != "" && ($scope.User.museridemail == $scope.User.maccountantemail)) {
                            $scope.validuser = false;
                            $scope.InValidEmail[type] = true;
                        }
                        else if ($scope.User.manotheruseremail != "" && ($scope.User.manotheruseremail == $scope.User.maccountantemail)) {
                            $scope.validuser = false;
                            $scope.InValidEmail[type] = true;
                        }
                        else {
                            $scope.validuser = true;
                            $scope.InValidEmail[type] = false;
                        }
                    }
                    else {
                        $scope.InValidEmail[type] = true;
                        $scope.validuser = false;
                    }
                });
            };
            $scope.SaveData = function (isValid) {
                if ($scope.submitText == 'Save') {
                    $scope.rsubmitted = true;
                    $scope.message = '';
                    $scope.User.moreaddress = $scope.MoreAddress;
                    if ($scope.MoreContacts.length > 0) {
                        $scope.User.morecontacts = $scope.MoreContacts

                    }
                    else {
                        $scope.User.morecontacts = [{
                            cusername: '',
                            cposition: '',
                            cemailaddress: '',
                            cphone: ''
                        }];
                    }
                    if ($scope.validuser && isValid) {
                        $scope.submitText = 'Please Wait...';
                        //$scope.User = data;
                        $http({

                            method: "POST",

                            url: "/User/SaveUser",

                            data: $scope.User
                        }).success(function (data) {
                            console.log("Muid : " + data["muid"]);
                            if (data["msg"] == "Success") {
                                $scope.IsRegistered = true;
                                //$rootScope.mschoolid = data["muid"];
                                //$rootScope.muserid = data["Data"].muserid;
                                //$rootScope.musername = data["Data"].mname;
                                //$rootScope.musertype = data["Data"].musertype;
                                //$rootScope.morgname = data["Data"].morgname;
                                //$rootScope.IsUserLogedIn = true;
                                //$rootScope.savequote = 1;
                                //var expireDate = new Date();
                                //expireDate.setDate(expireDate.getDate() + 1);
                                //$cookies.putObject('userdata', data["Data"], { 'expires': expireDate, 'path': '/' });

                                //$scope.Message = "Successfully login done. Welcome " + data["Data"].mname;
                                //$scope.SaveCart();
                            } else {
                                $scope.IsError = true;
                                alert('Invalid Credential!');
                            }

                            $scope.user = null;

                        }).error(function () {

                           // alert('failed');

                        })

                    }
                    else {
                        jQuery('input.ng-invalid').first().focus();
                        $scope.message = 'Please fill required fields value';
                        $scope.rsubmitted = false;
                    }
                }
            }
            //Clear Form (reset)
            function ClearForm() {
                $scope.User = {};
                $scope.reg.$setPristine(); //here f1 our form name
                $scope.submitted = false;
            }
            /*************************Save Cart***************************/

            $scope.SaveCart = function () {
                $scope.Submitted = true;
                $scope.loader = true;
                window.location = "/Leasing/ConfirmOrder";
                
                /*if (!angular.isUndefined($cookies.get('leasebasket'))) {
                    $scope.Session_Id = $cookies.getObject('leasebasket');
                }
                var passdata = { "SessionId": $scope.Session_Id, "Product": $scope.shoppingCart, "muserid": $rootScope.mschoolid, "mquotetotal": $scope.shoppingCart.totalPrice };

                $http.post("api/ProductApi/SaveQuote", passdata).success(function (data, status) {

                    if (data == "Save") {
                        $rootScope.shoppingCart = [];
                        $cookies.remove("leasebasket", { path: '/' });
                        toastr.success("Your quotation generated successfully", "Success");
                
                    }
                    else {
                        $scope.IsError = true;
                        alert('Invalid Credential!');
                    }

                    $scope.user = null;

                }).error(function () {

                    alert('failed');

                })
                */
            };
        }]);

        
    </script>
    <script>
        jQuery(function () {
            jQuery("#loginform1").on("submit", function (event) {
                event.preventDefault();
                
                var $this = jQuery(this);
                console.log($this.serializeArray());
                var frmValues = $this.serializeArray().filter(function (elem) {
                    return jQuery.trim(elem.value) != "";
                });
                var a = jQuery(this), l = jQuery(this).closest("form");

                jQuery.ajax({
                    type: "post",
                    url: "/User/UserLogin",
                    data: frmValues,
                    beforeSend: function () {
                        // setting a timeout
                        jQuery('html').addClass('m-page--loading');
                        jQuery('.m-blockui #loadtext').html('Please wait..');
                        //$('.m-page-loader.m-page-loader--base').addClass('myclass');
                    }, success: function (data) {

                        if (data["msg"] == "Success") {
                            jQuery('html').addClass('m-page--loading');
                            jQuery('#loadtext').html('Synchronising your account..');
                            //$('.m-page-loader.m-page-loader--base').addClass('myclass');
                            window.location.href = "/Dashboard";
                        }
                        else if (data["msg"] == "NotVerify") {
                           
                            jQuery(".loginerror").html("Your account is not verified yet.<br/>Please check your email and verify account.");
                            jQuery(".loginerror").addClass("in");
                        }
                        else if (data["msg"] == "NotActive") {
                            $scope.IsError = true;
                            $scope.invalidlogin = "Your account is under review.<br/>Please contact administrator.";
                            $scope.MSubmitted = false;
                        }
                        else {
                            jQuery(".loginerror").html("Invalid Username and Password");
                            jQuery(".loginerror").addClass("in");
                        }
                    }
                })

            });

        });
    </script>
}