
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<style>
    .clrbody {
        color: black;
    }
</style>
<div class="se-pre-con" ng-show="loader">

</div>
<div id="content" class="site-content" tabindex="-1" ng-controller="AboutUsController">
    <div class="container">


        <nav class="woocommerce-breadcrumb"><a href="@Url.Action("Index","Leasing")">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>About Us</nav>
        <div class="site-content-inner">
            <main id="content" role="main">
                <div class="container clrbody">
                    <div class="mb-6 text-center">
                        <h1>About us</h1>
                    </div>
                    <div class="mb-6">
                        <div ng-repeat="d in Disclaimer">
                            <p ng-bind-html="d.aboutus"></p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        app.controller('AboutUsController', ['$scope', '$http', '$rootScope', '$location', '$sce', '$cookies', function ($scope, $http, $rootScope, $location, $sce, $cookies) {
            $scope.loader = true;
            $scope.Disclaimer = [];
            $http.get('/api/ExtraPageApi/GetAboutUs').success(function (data) {
                $scope.Disclaimer = data;
                $scope.loader = false;
            });
        }]);

    </script>
}
